Daily News/Daily Em Dash.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -64
      ],
      "id": "33d93a95-660c-4851-985b-7f559438385f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "34e30e12316d80cf90b8d6154984128c",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "===="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -16,
        -64
      ],
      "id": "6bcd5731-6fee-431e-aab6-2342ba82a91a",
      "name": "Append a block",
      "credentials": {
        "notionApi": {
          "id": "GKJ2YFPtrjrwheoa",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                1,
                2,
                3,
                4,
                5,
                6
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        128
      ],
      "id": "2d143209-1505-4a50-9f6d-38e1379e5d2c",
      "name": "Schedule Trigger (Daily 0940 SGT)"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "34e30e12316d80cf90b8d6154984128c",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -32,
        128
      ],
      "id": "9eb51be1-38d0-4d0c-bce9-0d0943ba900b",
      "name": "Get many child blocks",
      "credentials": {
        "notionApi": {
          "id": "GKJ2YFPtrjrwheoa",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        176,
        128
      ],
      "id": "7fb6900b-b7bf-41f1-9dc1-545da714d47c",
      "name": "Archive page",
      "credentials": {
        "notionApi": {
          "id": "GKJ2YFPtrjrwheoa",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Append a block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 0940 SGT)": {
      "main": [
        [
          {
            "node": "Append a block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many child blocks": {
      "main": [
        [
          {
            "node": "Archive page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
