Daily News/Daily Investor News Analyst (SG & US) Searxng.json
{
  "name": "Daily Investor News Analyst (SG & US) Searxng",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a **Daily Investor News Analyst** running as a fully automated n8n workflow. There is NO human user. Produce the complete 10-item brief autonomously without asking any questions.\n\n---\n\n### ⚠️ ABSOLUTE BEHAVIOUR RULES\n- NEVER ask the user to choose between options.\n- NEVER present \"Option A / Option B\" choices.\n- NEVER deliver a partial brief and stop.\n- NEVER stall or wait for input.\n- If articles are from the past 48 hours rather than 24 hours, use them and note the date.\n- Always output all 10 items in one complete response.\n- If web_url_read returns ANY error (401, 403, 404, 410, timeout, or any other), SKIP that URL immediately, output nothing about it, and continue with the next step. NEVER retry a failed URL. NEVER let a URL error halt the workflow.\n\n---\n\n### 🎯 Your Task\nGenerate the **top 10 most important financial and economic news headlines** from the most recent available data (past 24–48 hours, Singapore time UTC+8). Focus on developments impacting **Singapore** and **U.S.** economies, stock markets, currencies, or investor sentiment.\n\n### 🔍 Search Strategy\n\n**Step 1 — Run these searches one at a time using searxng_web_search:**\n- `{\"query\": \"Singapore economy financial news today\", \"time_range\": \"day\"}`\n- `{\"query\": \"US Federal Reserve interest rates 2026\", \"time_range\": \"day\"}`\n- `{\"query\": \"Singapore STI stock market today\", \"time_range\": \"day\"}`\n- `{\"query\": \"US S&P 500 Nasdaq market today\", \"time_range\": \"day\"}`\n- `{\"query\": \"Singapore MAS monetary policy 2026\", \"time_range\": \"day\"}`\n\n**Step 2 — Run these additional searches one at a time:**\n- `{\"query\": \"US inflation CPI data 2026\", \"time_range\": \"day\"}`\n- `{\"query\": \"China economy Singapore impact 2026\", \"time_range\": \"day\"}`\n- `{\"query\": \"oil price commodities market today\", \"time_range\": \"day\"}`\n- `{\"query\": \"AI technology stocks earnings 2026\", \"time_range\": \"day\"}`\n- `{\"query\": \"US Singapore trade tariffs 2026\", \"time_range\": \"day\"}`\n\n**Step 3 — Read articles (OPEN-ACCESS ONLY) using web_url_read:**\n- ONLY attempt web_url_read on these domains: channelnewsasia.com, businesstimes.com.sg, cnbc.com, marketwatch.com, straitstimes.com, nikkei.com\n- DO NOT call web_url_read on: bloomberg.com, wsj.com, ft.com, reuters.com, or any site requiring login\n- If web_url_read returns ANY error, skip it immediately and use the search snippet instead\n- Example: `{\"url\": \"https://www.channelnewsasia.com/article-path\"}`\n\n**Step 4 — Write the complete 10-item brief immediately using search snippets + any successfully scraped content.**\n\n---\n\n### 📰 News Scope\n- Prioritise **Singapore** and **United States** market developments.\n- Include international stories only if they materially affect SG or US markets.\n- Use only credible outlets: Bloomberg, Reuters, WSJ, CNBC, CNA, The Edge Singapore, Business Times, Nikkei Asia.\n- Neutral, factual, analytical tone.\n- It is acceptable to write items based on search result snippets alone if scraping fails.\n\n---\n\n### 📈 Output Format — use exactly for all 10 items\n\nBegin with:\n**📰 Daily Investor Brief — [dd-MMM-yyyy], Singapore Time**\n\nFor each of the 10 items:\n\n---\n**[N]. 1⃣ Headline**\nShort, factual, impactful title.\n\n**2⃣ Core Thesis**\nOne concise paragraph on the event and its relevance to SG or US investors.\n\n**3⃣ Key Insights**\n- 2–4 bullet points on financial or economic implications.\n\n**4⃣ Key Definitions**\nDefine any financial/economic/technical terms used (e.g. CPI, GDP, PMI, Fed Funds Rate).\n\n**5⃣ Direct Statements & Statistics**\nNotable quotes, figures, or data points from the article or official sources.\n\n**6⃣ Macro Linkages**\nHow this connects to broader macro themes (inflation, rates, trade, commodities, AI/tech, geopolitics) and likely market impact.\n\n**7⃣ Source URL**\nOriginal article link. If paywalled, note it and provide the URL anyway.\n\n---\n\n### 🧩 Final Rules\n- Complete all 10 items. No partial output.\n- If a source is blocked or returns an error, use the next available one — do not stop.\n- Emphasise **Singapore–U.S. economic interlinkages**.\n- This is an automated pipeline. Produce the output now.",
        "options": {
          "systemMessage": "You are a fully automated workflow with no human user. CRITICAL MCP TOOL SCHEMAS (verified): (1) searxng_web_search: {\"query\": \"str\", \"time_range\": \"day\"} — single query string only. (2) web_url_read: {\"url\": \"https://...\"} — single URL string only. IMPORTANT RULES FOR web_url_read: NEVER call web_url_read on bloomberg.com, wsj.com, ft.com, reuters.com, or any paywalled site — they return 401/403 and WILL crash the workflow. Only call web_url_read on open-access URLs: channelnewsasia.com, businesstimes.com.sg, straitstimes.com (free articles), nikkei.com free articles, cnbc.com, marketwatch.com. If web_url_read returns an error, SKIP that URL immediately and continue — do NOT retry. Use search result snippets directly if scraping fails. Never ask questions. Always produce the complete 10-item brief. CRITICAL: If web_url_read returns ANY error including 404, 403, 401, or timeout, treat it as a non-fatal skip — output the string 'SKIP: <error>' and immediately continue to the next task using search snippets. NEVER let a web_url_read error stop or crash the workflow.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        160
      ],
      "id": "13895463-2f71-458c-a188-3c486efcb255",
      "name": "AI Agent — Daily Investor Analyst"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -480,
        384
      ],
      "id": "98d829d6-122e-4bfb-8605-d0d750b48c43",
      "name": "OpenAI Chat Model (GPT-5 Nano)",
      "credentials": {
        "openAiApi": {
          "id": "vLkg0PjM3ortjsoW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kangjooleng@gmail.com",
        "subject": "={{ $today.toFormat('dd-MMM-yyyy') }} | 📰 Daily Investor Brief — Top 10 SG & US Financial Headlines (Searxng)",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "bccList": "jooleng.kang@gmail.com,kangjooleng@yahoo.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "a28cd7e9-904c-4aca-885e-510b20409349",
      "name": "Send Daily Brief via Gmail",
      "webhookId": "a7a87fec-857d-4679-8c3c-3bf9792d0a25",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-output-length",
              "leftValue": "={{ $json.output.length() }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        240
      ],
      "id": "71ae0e16-a5ab-4e66-b410-2541c7b1f6a6",
      "name": "Output > 2000 chars?"
    },
    {
      "parameters": {
        "jsCode": "// Recursive Text Splitter for Notion page blocks\nconst CHUNK_SIZE = 1900;\nconst SEPARATORS = ['\\n\\n', '\\n', '. ', ' '];\n\nconst inputText = $input.first().json.output || '';\n\nfunction splitText(text, separators, chunkSize) {\n  if (text.length <= chunkSize) return [text];\n  const results = [];\n  let remaining = text;\n  while (remaining.length > chunkSize) {\n    let splitAt = -1;\n    for (const sep of separators) {\n      const idx = remaining.lastIndexOf(sep, chunkSize);\n      if (idx > 0) { splitAt = idx + sep.length; break; }\n    }\n    if (splitAt <= 0) splitAt = chunkSize;\n    results.push(remaining.slice(0, splitAt));\n    remaining = remaining.slice(splitAt);\n  }\n  if (remaining.length > 0) results.push(remaining);\n  return results;\n}\n\nconst chunks = splitText(inputText, SEPARATORS, CHUNK_SIZE);\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunkIndex: index + 1,\n    totalChunks: chunks.length,\n    text: chunk.trim(),\n    firstBlock: index === 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "id": "cab0cacc-ee21-425f-9399-dd4bf3f0c498",
      "name": "Recursive Text Splitter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-first-block",
              "leftValue": "={{ $json.firstBlock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        240
      ],
      "id": "3d2178d6-fee3-491b-8c4f-45c9af9528a1",
      "name": "Is First Block?"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $today.toFormat('dd-MMM-yyyy') }} | Daily Investor Brief — Top 10 SG & US Financial Headlines (Searxng)",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        112
      ],
      "id": "8ad076b4-bc40-4176-8e76-98ee27437010",
      "name": "Create Notion Page",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-url",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        112
      ],
      "id": "9fdd45a7-ec0a-4f30-8f37-3418b5c4ad8c",
      "name": "Store Page URL"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        320
      ],
      "id": "d03c20d4-c65e-459e-a758-760aa934e149",
      "name": "Merge Chunks"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        880,
        320
      ],
      "id": "e21616f5-48a6-4922-9a12-b96058223dfe",
      "name": "Append Block to Notion Page",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $today.toFormat('dd-MMM-yyyy') }} | Daily Investor Brief — Top 10 SG & US Financial Headlines (Searxng)",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('AI Agent — Daily Investor Analyst').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "192a8228-e8ff-4d57-bd63-33139fae20fc",
      "name": "Create Notion Page (Short Output)",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://searxng-mcp:3000/mcp",
        "options": {
          "timeout": 90000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -272,
        384
      ],
      "id": "25eccf5c-845d-44b6-ae63-1bfa024214c6",
      "name": "MCP Client (Searxng)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6,
                0
              ],
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        160
      ],
      "id": "b0b48f3e-aee3-42b6-9c9f-6fb365e56ba8",
      "name": "Schedule Trigger (Daily 6PM SGT)"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model (GPT-5 Nano)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Daily Investor Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Daily Investor Analyst": {
      "main": [
        [
          {
            "node": "Send Daily Brief via Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output > 2000 chars?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output > 2000 chars?": {
      "main": [
        [
          {
            "node": "Recursive Text Splitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Notion Page (Short Output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "main": [
        [
          {
            "node": "Is First Block?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is First Block?": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Chunks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Store Page URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Page URL": {
      "main": [
        [
          {
            "node": "Merge Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chunks": {
      "main": [
        [
          {
            "node": "Append Block to Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client (Searxng)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Daily Investor Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 6PM SGT)": {
      "main": [
        [
          {
            "node": "AI Agent — Daily Investor Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "X1sEUmuWIyr2vFvT",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a052b0b2-9d64-458d-b91e-3d06b4257ff0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "FsmXscy3Tw3AVvML",
  "tags": []
}