Daily News/Daily Investor News Analyst (SG & US) (Gemma4 LiteLLM) Websearch.json
{
  "name": "Daily Investor News Analyst (SG & US) (Gemma4 LiteLLM) Websearch",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a **Daily Investor News Analyst** running as a fully automated n8n workflow. There is NO human user. Produce the complete 10-item brief autonomously without asking any questions.\n\n---\n\n### ⚠️ CRITICAL: VERIFIED MCP TOOL PARAMETER SCHEMAS\n\n**search_engine_batch** — queries is an array of OBJECTS (max 5 per call):\n✅ CORRECT: `{\"queries\": [{\"query\": \"Singapore economy news\", \"engine\": \"brave\"}, {\"query\": \"US Fed rates 2026\", \"engine\": \"brave\"}]}`\n❌ WRONG: `{\"queries\": [\"Singapore economy news\", \"US Fed rates 2026\"]}`\nEach object MUST have a \"query\" key with a string value. \"engine\" is optional (default: brave).\n\n**scrape_batch** — urls is an array of plain STRINGS (max 10 per call):\n✅ CORRECT: `{\"urls\": [\"https://reuters.com/article1\", \"https://bloomberg.com/article2\"]}`\n❌ WRONG: `{\"urls\": [{\"url\": \"https://reuters.com/article1\"}, {\"url\": \"https://bloomberg.com/article2\"}]}`\n\n**search_engine** (single search) — query is a plain string:\n✅ CORRECT: `{\"query\": \"Singapore economy news today\", \"engine\": \"brave\"}`\n\n**scrape_as_markdown** (single page) — url is a plain string:\n✅ CORRECT: `{\"url\": \"https://reuters.com/article1\"}`\n\n**fetchCsdnArticle** — CSDN-ONLY tool. DO NOT USE for general scraping. Only valid for URLs matching https://blog.csdn.net/{username}/article/details/{id}. For all other URLs, use scrape_batch or scrape_as_markdown instead.\n\n---\n\n### ⚠️ ABSOLUTE BEHAVIOUR RULES\n- NEVER ask the user to choose between options.\n- NEVER call `fetchCsdnArticle` for any URL. This tool is CSDN-specific and NOT available for general web scraping. Always use `scrape_batch` or `scrape_as_markdown` for scraping articles.\n- NEVER present \"Option A / Option B\" choices.\n- NEVER deliver a partial brief and stop.\n- NEVER stall or wait for input.\n- If articles are from the past 48 hours rather than 24 hours, use them and note the date.\n- Always output all 10 items in one complete response.\n\n---\n\n### 🎯 Your Task\nGenerate the **top 10 most important financial and economic news headlines** from the most recent available data (past 24–48 hours, Singapore time UTC+8). Focus on developments impacting **Singapore** and **U.S.** economies, stock markets, currencies, or investor sentiment.\n\n### 🔍 Search Strategy\n\n**Step 1 — First batch (max 5 query objects):**\n`{\"queries\": [{\"query\": \"Singapore economy financial news today\", \"engine\": \"brave\"}, {\"query\": \"US Federal Reserve interest rates 2026\", \"engine\": \"brave\"}, {\"query\": \"Singapore STI stock market today\", \"engine\": \"brave\"}, {\"query\": \"US S&P 500 Nasdaq market today\", \"engine\": \"brave\"}, {\"query\": \"Singapore MAS monetary policy 2026\", \"engine\": \"brave\"}]}`\n\n**Step 2 — Second batch (max 5 query objects):**\n`{\"queries\": [{\"query\": \"US inflation CPI data 2026\", \"engine\": \"brave\"}, {\"query\": \"China economy Singapore impact 2026\", \"engine\": \"brave\"}, {\"query\": \"oil price commodities market today\", \"engine\": \"brave\"}, {\"query\": \"AI technology stocks earnings 2026\", \"engine\": \"brave\"}, {\"query\": \"US Singapore trade tariffs 2026\", \"engine\": \"brave\"}]}`\n\n**Step 3 — Scrape top articles** using scrape_batch with the ACTUAL article URLs returned from Steps 1 and 2 (replace with real URLs from search results — do NOT use placeholder URLs):\n`{\"urls\": [\"<actual_url_1_from_search_results>\", \"<actual_url_2_from_search_results>\", \"<actual_url_3_from_search_results>\"]}`\n\n**Step 4 — Write the complete 10-item brief immediately.**\n\n---\n\n### 📰 News Scope\n- Prioritise **Singapore** and **United States** market developments.\n- Include international stories only if they materially affect SG or US markets.\n- Use only credible outlets: Bloomberg, Reuters, WSJ, CNBC, CNA, The Edge Singapore, Business Times, Nikkei Asia.\n- Neutral, factual, analytical tone.\n\n---\n\n### 📈 Output Format — use exactly for all 10 items\n\nBegin with:\n**📰 Daily Investor Brief — [dd-MMM-yyyy], Singapore Time**\n\nFor each of the 10 items:\n\n---\n**[N]. 1⃣ Headline**\nShort, factual, impactful title.\n\n**2⃣ Core Thesis**\nOne concise paragraph on the event and its relevance to SG or US investors.\n\n**3⃣ Key Insights**\n- 2–4 bullet points on financial or economic implications.\n\n**4⃣ Key Definitions**\nDefine any financial/economic/technical terms used (e.g. CPI, GDP, PMI, Fed Funds Rate).\n\n**5⃣ Direct Statements & Statistics**\nNotable quotes, figures, or data points from the article or official sources.\n\n**6⃣ Macro Linkages**\nHow this connects to broader macro themes (inflation, rates, trade, commodities, AI/tech, geopolitics) and likely market impact.\n\n**7⃣ Source URL**\nOriginal article link. If paywalled, note it and provide the URL anyway.\n\n---\n\n### 🧩 Final Rules\n- Complete all 10 items. No partial output.\n- If a source is blocked, use the next available one — do not stop.\n- Emphasise **Singapore–U.S. economic interlinkages**.\n- This is an automated pipeline. Produce the output now.",
        "options": {
          "systemMessage": "You are a fully automated workflow with no human user. CRITICAL MCP SCHEMAS (verified): (1) search_engine_batch: queries = array of OBJECTS: [{\"query\":\"str\",\"engine\":\"brave\"}], max 5 per call. (2) scrape_batch: urls = array of plain STRINGS: [\"https://...\"], max 10 per call. (3) search_engine: {\"query\":\"str\",\"engine\":\"brave\"}. (4) scrape_as_markdown: {\"url\":\"https://...\"}. Never ask questions. Always produce the complete 10-item brief. NEVER call fetchCsdnArticle — it is CSDN-specific and will error on any non-CSDN URL. Use scrape_batch or scrape_as_markdown for all article scraping.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        160
      ],
      "id": "79850831-851c-421f-8c18-ceaa7bd9cb1e",
      "name": "AI Agent — Daily Investor Analyst"
    },
    {
      "parameters": {
        "sendTo": "receiver email",
        "subject": "={{ $today.toFormat('dd-MMM-yyyy') }} | 📰 Daily Investor Brief — Top 10 SG & US Financial Headlines (Gemma4 LiteLLM Websearch)",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "bccList": "receiver email"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "020b2189-de69-4376-b0c4-9072b0e799ea",
      "name": "Send Daily Brief via Gmail",
      "webhookId": "0dd3cdf0-2d02-4955-882a-0ffbfe42f071",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "sender email"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-output-length",
              "leftValue": "={{ $json.output.length() }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        240
      ],
      "id": "01dbe69f-cf3d-4fe2-a58a-2a094e2a37d5",
      "name": "Output > 2000 chars?"
    },
    {
      "parameters": {
        "jsCode": "// Recursive Text Splitter for Notion page blocks\nconst CHUNK_SIZE = 1900;\nconst SEPARATORS = ['\\n\\n', '\\n', '. ', ' '];\n\nconst inputText = $input.first().json.output || '';\n\nfunction splitText(text, separators, chunkSize) {\n  if (text.length <= chunkSize) return [text];\n  const results = [];\n  let remaining = text;\n  while (remaining.length > chunkSize) {\n    let splitAt = -1;\n    for (const sep of separators) {\n      const idx = remaining.lastIndexOf(sep, chunkSize);\n      if (idx > 0) { splitAt = idx + sep.length; break; }\n    }\n    if (splitAt <= 0) splitAt = chunkSize;\n    results.push(remaining.slice(0, splitAt));\n    remaining = remaining.slice(splitAt);\n  }\n  if (remaining.length > 0) results.push(remaining);\n  return results;\n}\n\nconst chunks = splitText(inputText, SEPARATORS, CHUNK_SIZE);\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunkIndex: index + 1,\n    totalChunks: chunks.length,\n    text: chunk.trim(),\n    firstBlock: index === 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "id": "1511042b-bb96-4817-b8d3-7733efde23f6",
      "name": "Recursive Text Splitter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-first-block",
              "leftValue": "={{ $json.firstBlock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        240
      ],
      "id": "346aba58-79d2-47d3-beec-9c8a43c00972",
      "name": "Is First Block?"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $today.toFormat('dd-MMM-yyyy') }} | Daily Investor Brief — Top 10 SG & US Financial Headlines (Gemma4 LiteLLM Websearch)",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        112
      ],
      "id": "4eb4d390-e829-49d5-af1f-502d90f8ae63",
      "name": "Create Notion Page",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-url",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        112
      ],
      "id": "658dc0ae-c4a5-4898-8e54-ed8c9d662cee",
      "name": "Store Page URL"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        320
      ],
      "id": "1a34f6df-0199-4254-a598-9a469e9c68fe",
      "name": "Merge Chunks"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        880,
        320
      ],
      "id": "f8d054f2-60c3-42e8-9e37-8c376c70a7f0",
      "name": "Append Block to Notion Page",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $today.toFormat('dd-MMM-yyyy') }} | Daily Investor Brief — Top 10 SG & US Financial Headlines (Gemma4 LiteLLM Websearch)",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $('AI Agent — Daily Investor Analyst').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "f8bdd9f9-e329-447a-ad64-a95f7e88c238",
      "name": "Create Notion Page (Short Output)",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://web-search:3000/mcp",
        "options": {
          "timeout": 90000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -272,
        384
      ],
      "id": "dea7a3cb-a4a4-44f6-b1d9-65f33dfb4939",
      "name": "MCP Client (Web Search)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6,
                0
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        160
      ],
      "id": "6b4e954a-ff4c-41ca-976f-0077b1f93f85",
      "name": "Schedule Trigger (Daily 1830HRS SGT)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemma-4-31b",
          "mode": "list",
          "cachedResultName": "gemma-4-31b"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -544,
        368
      ],
      "id": "6a264ba5-d3f8-4c44-aa02-5bed2eba6d0c",
      "name": "Gemma4 LiteLLM",
      "credentials": {
        "openAiApi": {
          "id": "mnxNb0DqnyKRIKMI",
          "name": "litellm"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent — Daily Investor Analyst": {
      "main": [
        [
          {
            "node": "Send Daily Brief via Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output > 2000 chars?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output > 2000 chars?": {
      "main": [
        [
          {
            "node": "Recursive Text Splitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Notion Page (Short Output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "main": [
        [
          {
            "node": "Is First Block?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is First Block?": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Chunks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Store Page URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Page URL": {
      "main": [
        [
          {
            "node": "Merge Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chunks": {
      "main": [
        [
          {
            "node": "Append Block to Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client (Web Search)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Daily Investor Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 1830HRS SGT)": {
      "main": [
        [
          {
            "node": "AI Agent — Daily Investor Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemma4 LiteLLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Daily Investor Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "X1sEUmuWIyr2vFvT",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7865425f-94a2-48c5-8f3d-d8c851146467",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "DGMrNWhtTApykkUC",
  "tags": []
}
