Stooq/Nasdaq100/Stooq Nasdaq100.json
{
  "name": "Stooq Nasdaq100",
  "nodes": [
    {
      "parameters": {
        "executeOnce": false,
        "command": "cd /files/Stooq/Nasdaq100\npython Stooq-Nasdaq100.py\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -736,
        -224
      ],
      "id": "41d2dc41-4301-4035-b4c1-a7d9c9f1c953",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/files/Stooq/Nasdaq100/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        -224
      ],
      "id": "e3ea927b-e99f-44c0-931d-8272db36ddf6",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "sendTo": "receiver email",
        "subject": "={{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }} Stooq Nasdaq100 EOD",
        "message": "=Attached Stooq Nasdaq100 EOD for {{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,data_1,data_2"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -80,
        -48
      ],
      "id": "087db72e-4683-4632-9730-9ce86610dbc2",
      "name": "Send a message",
      "webhookId": "1c66570c-51c5-4081-9cad-f1d4f92b7856",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "sender email"
        }
      }
    },
    {
      "parameters": {
        "command": "cd /files/Stooq/Nasdaq100\nrm US*.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        96,
        -48
      ],
      "id": "b30a4152-bc1c-4378-a5da-07fc1e88d381",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                3,
                4,
                5,
                6
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -912,
        -224
      ],
      "id": "5b7b8ba1-057a-4feb-9253-25c6e7600ba1",
      "name": "0812 Hrs Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        -48
      ],
      "id": "a5e422e0-7349-4b9f-9525-c3a9a24c1de5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "418b4c25-6c51-4577-a6f5-874d15ad379f",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        -224
      ],
      "id": "c51dc1de-a601-4f26-8ef5-33549665a1b9",
      "name": "No of files"
    },
    {
      "parameters": {
        "sendTo": "receiver email",
        "subject": "={{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }} Stooq Nasdaq100 EOD",
        "message": "=Attached Stooq Nasdaq100 EOD for {{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,data_1,data_2,data_3"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -64,
        -400
      ],
      "id": "bf387029-6969-481e-a1bc-d10fec416be1",
      "name": "Send a message1",
      "webhookId": "1c66570c-51c5-4081-9cad-f1d4f92b7856",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "sender email"
        }
      }
    },
    {
      "parameters": {
        "command": "cd /files/Stooq/Nasdaq100\nrm US*.csv\nrm *.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        112,
        -400
      ],
      "id": "35f3fcec-8a4f-4c06-8b68-68d8b2f85891",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -240,
        -400
      ],
      "id": "191c600f-c19e-4fe9-a59e-9e43c05cd3e2",
      "name": "Aggregate1"
    }
  ],
  "pinData": {
    "0812 Hrs Trigger": [
      {
        "json": {
          "timestamp": "2026-04-15T08:12:07.006+08:00",
          "Readable date": "April 15th 2026, 8:12:07 am",
          "Readable time": "8:12:07 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "15",
          "Hour": "08",
          "Minute": "12",
          "Second": "07",
          "Timezone": "Asia/Singapore (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "No of files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0812 Hrs Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No of files": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "X1sEUmuWIyr2vFvT",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "579b4ff5-7d1a-42e7-b3a1-e23795d24a78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "tPFcjTrBQbQaGeaB",
  "tags": []
}
