chat/Chat (litellm) websearch.json
{
  "name": "Chat (litellm) websearch",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -880,
        64
      ],
      "id": "5ceb7b0b-efab-4826-abfa-842076e57e62",
      "name": "When chat message received",
      "webhookId": "6e0f4a46-89c4-4548-a9dd-5b4bd3c9f7ca"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a research assistant. Use tools to answer questions.\nTool schemas (pass ONLY these fields, no extras):\n\nCRITICAL MCP SCHEMAS (verified): \n(1) search_engine_batch: queries = array of OBJECTS: [{\"query\":\"str\",\"engine\":\"brave\"}], max 5 per call. \n(2) scrape_batch: urls = array of plain STRINGS: [\"https://...\"], max 10 per call. \n(3) search_engine: {\"query\":\"str\",\"engine\":\"brave\"}. \n(4) scrape_as_markdown: {\"url\":\"https://...\"}. \nNEVER call fetchCsdnArticle — it is CSDN-specific and will error on any non-CSDN URL. \nUse scrape_batch or scrape_as_markdown for all article scraping.\nBe concise. Skip URLs that return errors.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        64
      ],
      "id": "8f00db9f-c7e7-498a-9b39-030d5ed11270",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        288
      ],
      "id": "16c02f99-f16c-49c9-bfe6-bab892951d50",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://web-search:3000/mcp",
        "include": "except",
        "excludeTools": [
          "fetchLinuxDoArticle"
        ],
        "options": {
          "timeout": 90000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -400,
        288
      ],
      "id": "06292c70-b1e0-4313-a8ca-17b47ed1e6ae",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "sendTo": "kangjooleng@gmail.com",
        "subject": "={{ $now.toFormat('dd-MMM-yyyy') }}, Top 10 US and SG Financial News (Ollama) Searxng",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "bccList": "kangjooleng@yahoo.com,jooleng.kang@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -192,
        16
      ],
      "id": "64f3660a-e442-49cb-bda7-a7de15170e44",
      "name": "Send a message",
      "webhookId": "725fd75c-2420-4273-9b97-7d691e5fd99a",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recursive Text Splitter for Notion page blocks\nconst CHUNK_SIZE = 1800;\nconst SEPARATORS = ['\\n\\n', '\\n', '. ', ' '];\n\nconst inputText = $input.first().json.output || '';\n\nfunction splitText(text, separators, chunkSize) {\n  if (text.length <= chunkSize) return [text];\n  const results = [];\n  let remaining = text;\n  while (remaining.length > chunkSize) {\n    let splitAt = -1;\n    for (const sep of separators) {\n      const idx = remaining.lastIndexOf(sep, chunkSize);\n      if (idx > 0) { splitAt = idx + sep.length; break; }\n    }\n    if (splitAt <= 0) splitAt = chunkSize;\n    results.push(remaining.slice(0, splitAt));\n    remaining = remaining.slice(splitAt);\n  }\n  if (remaining.length > 0) results.push(remaining);\n  return results;\n}\n\nconst chunks = splitText(inputText, SEPARATORS, CHUNK_SIZE);\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunkIndex: index + 1,\n    totalChunks: chunks.length,\n    text: chunk.trim(),\n    firstBlock: index === 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        224
      ],
      "id": "266f4bc1-b139-45e3-8707-2fe78e8e5d1d",
      "name": "Text Split"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "=31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $now.toFormat('dd-MMM-yyyy') }}, Top10 Finance News US & SG (Ollama) Searxng",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        96
      ],
      "id": "f56789b9-ee6a-45eb-af7c-d962e813e9df",
      "name": "Create a page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "626a3286-0843-4f51-bf39-edf835fdd88c",
              "leftValue": "={{ $json.firstBlock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        224
      ],
      "id": "6fc772e5-3dc6-42e6-9ba3-4e65a206c050",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c496891-3441-4a43-9016-09e4dfc94088",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        96
      ],
      "id": "16baa906-9fe8-4a34-bdee-c44fa82ab870",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        320
      ],
      "id": "39a6e0e2-4eaf-45d2-b422-36ce9cd72cf9",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        496,
        320
      ],
      "id": "df90531b-5f7d-4ab8-ab9f-8b97b1232b8d",
      "name": "Append a block"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemma-4-31b",
          "mode": "list",
          "cachedResultName": "gemma-4-31b"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -736,
        272
      ],
      "id": "289e3f40-b99c-41f4-a0ef-bb6cf3eb88a3",
      "name": "litellm gemma 4 26b",
      "credentials": {
        "openAiApi": {
          "id": "mnxNb0DqnyKRIKMI",
          "name": "litellm kangjooleng@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Text Split": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append a block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "litellm gemma 4 26b": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "any",
    "timeSavedMode": "fixed"
  },
  "versionId": "0f196df8-3244-40d9-9b2c-3948162989fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "NstzaexmmRrB9kWV",
  "tags": []
}