chat/Chat (gemma4 26b litellm) searxng.json
{
  "name": "Chat (gemma4 26b litellm) searxng",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is JL. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -880,
        64
      ],
      "id": "8cc13a5a-4d4d-46ac-aca7-5540b659ec5d",
      "name": "When chat message received",
      "webhookId": "95a21e31-18b4-4871-9e9d-bb874070b8da"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a research assistant. Use tools to answer questions.\nTool schemas (pass ONLY these fields, no extras):\n- searxng_web_search: {\"query\": \"<string>\"}\n- web_url_read: {\"url\": \"https://...\"}\nBe concise. Skip URLs that return errors.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        64
      ],
      "id": "910799dd-e9de-417c-ad5a-464734beec32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        288
      ],
      "id": "b87b6a1c-7055-43c0-8579-41adb2af40f9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "receiver email",
        "subject": "={{ $now.toFormat('dd-MMM-yyyy') }}, Top 10 US and SG Financial News (Ollama) Searxng",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "bccList": "receiver email"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -192,
        16
      ],
      "id": "b746af14-8f92-4a5a-980e-2cf72e9141f1",
      "name": "Send a message",
      "webhookId": "62ecbd38-4a86-4ca5-87ba-37fe9217605c",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "sender email"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recursive Text Splitter for Notion page blocks\nconst CHUNK_SIZE = 1800;\nconst SEPARATORS = ['\\n\\n', '\\n', '. ', ' '];\n\nconst inputText = $input.first().json.output || '';\n\nfunction splitText(text, separators, chunkSize) {\n  if (text.length <= chunkSize) return [text];\n  const results = [];\n  let remaining = text;\n  while (remaining.length > chunkSize) {\n    let splitAt = -1;\n    for (const sep of separators) {\n      const idx = remaining.lastIndexOf(sep, chunkSize);\n      if (idx > 0) { splitAt = idx + sep.length; break; }\n    }\n    if (splitAt <= 0) splitAt = chunkSize;\n    results.push(remaining.slice(0, splitAt));\n    remaining = remaining.slice(splitAt);\n  }\n  if (remaining.length > 0) results.push(remaining);\n  return results;\n}\n\nconst chunks = splitText(inputText, SEPARATORS, CHUNK_SIZE);\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunkIndex: index + 1,\n    totalChunks: chunks.length,\n    text: chunk.trim(),\n    firstBlock: index === 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        224
      ],
      "id": "330aa100-c559-4e3c-b669-6572dd3047b1",
      "name": "Text Split"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "=31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $now.toFormat('dd-MMM-yyyy') }}, Top10 Finance News US & SG (Ollama) Searxng",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        96
      ],
      "id": "d8e1e36d-c525-489e-8550-896d2e5c99e1",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "626a3286-0843-4f51-bf39-edf835fdd88c",
              "leftValue": "={{ $json.firstBlock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        224
      ],
      "id": "79d8dc02-7e30-408c-94f5-2996cb70059c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c496891-3441-4a43-9016-09e4dfc94088",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        96
      ],
      "id": "826b5948-c735-41d9-9908-1908ac5757b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        320
      ],
      "id": "7b8a2fcb-9119-4d6e-82a8-8729c98b2a52",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        496,
        320
      ],
      "id": "4e3199e0-ae5a-40c4-8a58-755118e9c147",
      "name": "Append a block",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://searxng-mcp:3000/mcp",
        "options": {
          "timeout": 90000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -400,
        288
      ],
      "id": "ca4f7539-8541-4460-95bf-24d779894f21",
      "name": "searxng_web_search"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemma-4-26b",
          "mode": "list",
          "cachedResultName": "gemma-4-26b"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -736,
        272
      ],
      "id": "11c7c105-d703-4284-8951-50d80bd59197",
      "name": "gemma4 26b(litellm)",
      "credentials": {
        "openAiApi": {
          "id": "mnxNb0DqnyKRIKMI",
          "name": "litellm kangjooleng@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Split": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append a block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searxng_web_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gemma4 26b(litellm)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e40ef945-6209-4c67-948b-da9eaca8a465",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "wH1JVc4W4GqEBKN6",
  "tags": []
}
