chat/Chat (Ollama) searxng.json
{
  "name": "Chat (Ollama) searxng",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is JL. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -880,
        64
      ],
      "id": "1244d11d-8592-47c3-b3b6-ba9efd9b9fc1",
      "name": "When chat message received",
      "webhookId": "8c939f4c-7cb4-4a6b-ba69-1ab95fbab5c9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a research assistant. Use tools to answer questions.\nTool schemas (pass ONLY these fields, no extras):\n- searxng_web_search: {\"query\": \"<string>\"}\n- web_url_read: {\"url\": \"https://...\"}\nBe concise. Skip URLs that return errors.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        64
      ],
      "id": "3124c3e5-30ee-4a7d-8b1c-2a4b521c5307",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        288
      ],
      "id": "6eb2a364-228f-42ae-9f3c-28cf925e37e5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "receiver email",
        "subject": "={{ $now.toFormat('dd-MMM-yyyy') }}, Top 10 US and SG Financial News (Ollama) Searxng",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "bccList": "receiver email"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -192,
        16
      ],
      "id": "476fdd15-9160-48d2-ac8a-d39d278bfcfa",
      "name": "Send a message",
      "webhookId": "fd3148eb-59f6-4525-b41b-d90e788b1749",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recursive Text Splitter for Notion page blocks\nconst CHUNK_SIZE = 1800;\nconst SEPARATORS = ['\\n\\n', '\\n', '. ', ' '];\n\nconst inputText = $input.first().json.output || '';\n\nfunction splitText(text, separators, chunkSize) {\n  if (text.length <= chunkSize) return [text];\n  const results = [];\n  let remaining = text;\n  while (remaining.length > chunkSize) {\n    let splitAt = -1;\n    for (const sep of separators) {\n      const idx = remaining.lastIndexOf(sep, chunkSize);\n      if (idx > 0) { splitAt = idx + sep.length; break; }\n    }\n    if (splitAt <= 0) splitAt = chunkSize;\n    results.push(remaining.slice(0, splitAt));\n    remaining = remaining.slice(splitAt);\n  }\n  if (remaining.length > 0) results.push(remaining);\n  return results;\n}\n\nconst chunks = splitText(inputText, SEPARATORS, CHUNK_SIZE);\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunkIndex: index + 1,\n    totalChunks: chunks.length,\n    text: chunk.trim(),\n    firstBlock: index === 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        224
      ],
      "id": "470ba28c-5d07-4f01-8520-bf1e543cbbab",
      "name": "Text Split"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "=31b30e12316d80988831d2c858191759",
          "mode": "id"
        },
        "title": "={{ $now.toFormat('dd-MMM-yyyy') }}, Top10 Finance News US & SG (Ollama) Searxng",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        96
      ],
      "id": "4176be9a-6887-47f3-9ca1-0a96e5480e11",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "626a3286-0843-4f51-bf39-edf835fdd88c",
              "leftValue": "={{ $json.firstBlock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        224
      ],
      "id": "b3cf8dc5-e409-4c8b-be1d-f0f8cd68318c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c496891-3441-4a43-9016-09e4dfc94088",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        96
      ],
      "id": "b23829c4-13c7-4223-a84e-cfeb9661ed8b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        320
      ],
      "id": "5a3ada9e-4d3a-4da3-a1a7-04441b6595de",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.url }}",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        496,
        320
      ],
      "id": "ab4eab5b-d3e9-42ac-affb-07bb8ab62447",
      "name": "Append a block",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://searxng-mcp:3000/mcp",
        "options": {
          "timeout": 90000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -400,
        288
      ],
      "id": "ae759fcb-9b88-4824-88ca-7101afb6a169",
      "name": "searxng_web_search"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -736,
        272
      ],
      "id": "d10a9679-d692-4050-8211-e259879e2d2a",
      "name": "Ollama Chat Model (gemma4:31b cloud)",
      "credentials": {
        "ollamaApi": {
          "id": "wywsYrJHSwm1WsIw",
          "name": "Ollama Cloud"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Split": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append a block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searxng_web_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model (gemma4:31b cloud)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50c83e15-704c-4718-923f-3790476ab109",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "tlhPg0Ue6jvvbMX5",
  "tags": []
}
