Magic/Magic Dow30 Nasdaq100 SNP500.json
{
  "name": "Magic Dow30 Nasdaq100 SNP500",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -464,
        -304
      ],
      "id": "bf5fbec3-5c85-4084-9611-a26ed362e57d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        -208
      ],
      "id": "48f16120-8ab6-442e-aeb4-b9a8054b1152",
      "name": "0901 Hrs SGT Monthly Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/files/Magic/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -688,
        -304
      ],
      "id": "b61aafae-3a29-402e-a421-710724f8fc80",
      "name": "Read Results"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "cd /files/Magic\npython \"Magic(Dow30 + Nasdaq100 + S&P500).py\"\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -912,
        -208
      ],
      "id": "e80f909f-c9ad-447c-b98d-095af420cb05",
      "name": "Python script to apply magic formula"
    },
    {
      "parameters": {
        "command": "cd /files/Magic\nrm *.csv\nrm *.xlsx"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -16,
        -304
      ],
      "id": "647ce249-2bde-4d2b-bf41-32df258b3c82",
      "name": "Housekeeping"
    },
    {
      "parameters": {
        "jsCode": "\n// ── 1. Sort all rows by Score ascending ──────────────────────────────\nconst rows = items.map(item => item.json);\nif (rows.length === 0) return [{ json: { error: 'No data' } }];\n\nrows.sort((a, b) => {\n  const sa = parseFloat(a.Score), sb = parseFloat(b.Score);\n  const aOk = !isNaN(sa), bOk = !isNaN(sb);\n  if (aOk && bOk) return sa - sb;\n  return aOk ? -1 : bOk ? 1 : 0;\n});\n\nconst headers = Object.keys(rows[0]);\nconst tableWidth = headers.length;\n\n// ── 2. Build table_row blocks ─────────────────────────────────────────\nfunction makeRow(cells, bold) {\n  return {\n    type: 'table_row',\n    table_row: {\n      cells: cells.map(cell => {\n        const txt = (cell == null || String(cell) === 'nan') ? '' : String(cell).slice(0, 2000);\n        return [{ type: 'text', text: { content: txt }, annotations: bold ? { bold: true } : {} }];\n      })\n    }\n  };\n}\n\n// First row is header (bold), rest are data rows\nconst allRows = [\n  makeRow(headers, true),\n  ...rows.map(r => makeRow(headers.map(h => r[h] ?? ''), false))\n];\n\n// ── 3. Split into 5 table blocks of ≤100 rows each ───────────────────\nconst BATCH = 100;\nconst tableBlocks = [];\nfor (let i = 0; i < allRows.length; i += BATCH) {\n  const chunk = allRows.slice(i, i + BATCH);\n  tableBlocks.push({\n    type: 'table',\n    table: {\n      table_width: tableWidth,\n      has_column_header: i === 0,  // only first table has column header\n      has_row_header: false,\n      children: chunk\n    }\n  });\n}\n\n// ── 4. Build page title ───────────────────────────────────────────────\nconst d = new Date(); d.setDate(d.getDate() - 1);\nconst months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst title = `${String(d.getDate()).padStart(2,'0')}-${months[d.getMonth()]}-${d.getFullYear()} Magic Formula Results (Dow30 + Nasdaq100 + SNP500)`;\n\nreturn [{\n  json: {\n    title,\n    tableWidth,\n    tableBlocks,\n    totalRows: allRows.length,\n    blockCount: tableBlocks.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -112
      ],
      "id": "1e764fce-5a1f-4fcd-a21b-8e8fbed6c85b",
      "name": "Build Table Blocks"
    },
    {
      "parameters": {
        "fileSelector": "/files/Magic/*.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -688,
        -112
      ],
      "id": "db783770-6a5b-49ba-829d-c12c8d119f37",
      "name": "Read Results2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -464,
        -112
      ],
      "id": "220aafa1-9a4d-4f95-a555-b61bb39031f6",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"parent\": { \"page_id\": \"34e30e12-316d-80ee-90a9-ed1c207a333c\" },\n  \"properties\": {\n    \"title\": [{ \"text\": { \"content\": $json.title } }]\n  },\n  \"children\": $json.tableBlocks\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -112
      ],
      "id": "c960efe3-d3be-4bea-a8c0-e7fd66dbceb8",
      "name": "Publish Magic Formula Result to Notion",
      "credentials": {
        "notionApi": {
          "id": "fvFzKGRSY6OQkW4c",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "receiver email",
        "subject": "={{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }} Magic Formula Results (Dow30 + Nasdaq100 + SNP500)",
        "message": "=Attached Magic Formula Results (Dow30 + Nasdaq100 + SNP500) for {{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,data_1,data_2"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        -304
      ],
      "id": "b49528e1-499e-49a4-bae1-d653a2b935d7",
      "name": "Send Magic Formula Results to Email",
      "webhookId": "13290714-32b4-429e-8ee8-3f3f844d4983",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "sender email"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send Magic Formula Results to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0901 Hrs SGT Monthly Trigger": {
      "main": [
        [
          {
            "node": "Python script to apply magic formula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Results": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python script to apply magic formula": {
      "main": [
        [
          {
            "node": "Read Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Table Blocks": {
      "main": [
        [
          {
            "node": "Publish Magic Formula Result to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Results2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Build Table Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Magic Formula Results to Email": {
      "main": [
        [
          {
            "node": "Housekeeping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "X1sEUmuWIyr2vFvT",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a0f4284c-6d20-4217-b525-1a027ac0fc77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "aH62fR2IqjIvvH5u",
  "tags": []
}