Course/QS101/Data Structure.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "656e904f-6423-4ff3-a9da-837644e74bed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "4f38eb5a-4baa-4d5e-8f65-9996d02a10aa",
      "name": "GetCustomers"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { totalCustomers: $input.all().length } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "2c953638-50b4-44ca-b192-60deaa97ed3a",
      "name": "CountCustomers"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "474765c3-cc5c-4f27-ba28-f841e1ef4d3e",
              "name": "Summary",
              "value": "={{ $('GetCustomers').first().json.name }} is one of {{ $('CountCustomers').first().json.totalCustomers }} customers",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        0
      ],
      "id": "0b652f00-b056-4639-b29f-5f96ec3ba987",
      "name": "SetSummary"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "CountCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CountCustomers": {
      "main": [
        [
          {
            "node": "SetSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
