Course/QS101/Date time and interval data.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "12a9e4fb-a04c-479e-9833-29f9e377469a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "2f1a12e0-8086-4c57-99d9-74966f8f0d02",
      "name": "GetCustomerData"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.created }}",
        "mode": "roundUp",
        "outputFieldName": "newDate",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "f014beaa-43cb-43d0-892a-d88ba209a072",
      "name": "RoundDate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa018b3f-d74d-4346-a3ae-381fda199306",
              "leftValue": "={{ $json.newDate }}",
              "rightValue": "1960-01-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "id": "6514b6f9-010a-4fd9-96ce-dc6892796ff7",
      "name": "CheckAfter1960"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.newDate }}",
        "duration": 5,
        "outputFieldName": "plus5Days",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        880,
        -96
      ],
      "id": "60e3bbeb-0852-47ba-b914-4b99103d0773",
      "name": "Add5days"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef5d5e26-edfc-4064-a04d-6a024739df5f",
              "name": "newYear",
              "value": "={{ $json.newDate.toDateTime().plus(20, 'years') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        96
      ],
      "id": "fa455b08-9e53-487c-bb0a-2014e23976d8",
      "name": "Add20Years"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetCustomerData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomerData": {
      "main": [
        [
          {
            "node": "RoundDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoundDate": {
      "main": [
        [
          {
            "node": "CheckAfter1960",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckAfter1960": {
      "main": [
        [
          {
            "node": "Add5days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add20Years",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
