Course/QS101/Downloading and editing an image.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/apis/dog-images",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "58877d9b-d1e6-4929-9490-4694bafab166",
      "name": "GetDogURL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fb2b3fe3-dc53-45cd-9765-cd81baaa76d3",
      "name": "ManualTrigger"
    },
    {
      "parameters": {
        "url": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "7882eed0-644c-4c8d-84c6-c7c0840fcb2e",
      "name": "GetDogImage"
    },
    {
      "parameters": {
        "operation": "rotate",
        "rotate": 180,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "99147223-3382-4ff6-80fb-e501bb856892",
      "name": "Rotate180"
    }
  ],
  "connections": {
    "GetDogURL": {
      "main": [
        [
          {
            "node": "GetDogImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ManualTrigger": {
      "main": [
        [
          {
            "node": "GetDogURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDogImage": {
      "main": [
        [
          {
            "node": "Rotate180",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
