Course/QS101/Monitor Report Errors.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "11aaf75e-d2c4-4007-ac0c-a975557d7ea0",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88b17bd5-b444-4644-b7d1-4ecddd2a36c7",
              "name": "content",
              "value": "=[7ef5d6a6ebbc2c02fcf9ea1155fa8514] Workflow Error Alert - Workflow: {{ $json.workflow.name }} | Error: {{ $json.execution.error.message }} | Last node: {{ $json.execution.lastNodeExecuted }} | Execution URL: {{ $json.execution.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        0
      ],
      "id": "fc4a240f-fc58-420f-87d5-7ba9d6a3d93a",
      "name": "BuildErrorMessage"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "7fed7022-2e0f-404c-ac26-ee8539d3bcc2",
      "name": "NotifyDiscord",
      "webhookId": "ed4a4a66-00e6-4c42-939d-f5a1055aaceb",
      "credentials": {
        "discordWebhookApi": {
          "id": "1bxXlJ2PTjEpUHn4",
          "name": "n8n Quickstart S2 Error Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "BuildErrorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildErrorMessage": {
      "main": [
        [
          {
            "node": "NotifyDiscord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
