Course/QS101/Nathan's workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -128
      ],
      "id": "a511e26e-1651-45be-a416-0d6dde794d76",
      "name": "Trigger Manually"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "7ef5d6a6ebbc2c02fcf9ea1155fa8514"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -128
      ],
      "id": "dd946bf1-d32b-4a16-9485-996b8b7565cf",
      "name": "GetDataFromWarehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "njDkFXHwu347ym2d",
          "name": "n8n Quickstart Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "sXqhLQG6GYIItBPZ",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "/projects/AUdDgoinTGByqxn9/datatables/sXqhLQG6GYIItBPZ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "orderID",
              "keyValue": "={{ $json.orderID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        864,
        -224
      ],
      "id": "87fb2de4-58f9-455e-b46d-5b7e498a6a95",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8412e6cd-c41d-4695-b57a-cd5260f28862",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1c530ce0-5411-4fa9-b113-6f9d695d7d1c",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -128
      ],
      "id": "68204202-d27d-418f-a734-cc8b5fa8ef55",
      "name": "CheckOrderStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d289e2ed-9937-48ff-89de-190cd9ec6201",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "768de802-4dcb-4c76-89c5-04191c07dce7",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -224
      ],
      "id": "c10dcf16-a0a4-483d-bd4d-48afaaa71953",
      "name": "SetProcessingData"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -32
      ],
      "id": "6dbfffc6-1450-4083-82e0-92fd59f4edeb",
      "name": "CalculateBookedOrders"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json.totalBooked}} booked orders with a total value of {{$json.bookedSum.round(2)}}. My Assessment ID: {{ $('GetDataFromWarehouse').params.headerParameters.parameters[0].value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        864,
        -32
      ],
      "id": "046be5bb-b2b8-49d7-8ab0-16f3bf3d267a",
      "name": "Discord",
      "webhookId": "4f3e9a57-b034-4f5c-ae5e-9bbb937472c9",
      "credentials": {
        "discordWebhookApi": {
          "id": "HEwOJkkBdLMVIiXZ",
          "name": "n8n Quickstart S1 Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -352
      ],
      "id": "2465c8e4-7ddf-4906-be28-1c9aec5ff1c8",
      "name": "TriggerMondays9am"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -400
      ],
      "id": "37856c11-676f-4a9f-8aed-b62bcc6f0047",
      "name": "CalculateBookedProcessingOrders"
    }
  ],
  "connections": {
    "Trigger Manually": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDataFromWarehouse": {
      "main": [
        [
          {
            "node": "CheckOrderStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckOrderStatus": {
      "main": [
        [
          {
            "node": "SetProcessingData",
            "type": "main",
            "index": 0
          },
          {
            "node": "CalculateBookedProcessingOrders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalculateBookedOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingData": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedOrders": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TriggerMondays9am": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
