Course/N8N101/Section 2 - Sales Data Pipeline.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "7ef5d6a6ebbc2c02fcf9ea1155fa8514"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        224
      ],
      "id": "3c376fb6-3d5e-4242-b521-b1bc4057035e",
      "name": "GetSalesData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3N1NUkFdnOZIqaqY",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "d8e9d8fb-83a7-48f2-abfc-3533445d126e",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "be4ad97a-2245-4b6a-91ae-ecc1218e3747",
      "name": "SplitOrders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "504a5f69-f94d-4e16-ae85-869eb57c84c4",
              "name": "order_id",
              "value": "={{ $json.order_id }}",
              "type": "string"
            },
            {
              "id": "7f47fc27-c206-4a5c-944c-2b32c820a2b6",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "58ce2b7a-2730-435f-8335-ff29ebf004fc",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "e268571a-2d94-40f2-b831-fd49b5ae8c6d",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "74302236-5297-4df8-9571-2e43e563e531",
              "name": "order_total",
              "value": "={{ $json.quantity * $json.unit_price }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        224
      ],
      "id": "cc3e2b3f-9b83-406f-80c3-41f36b937477",
      "name": "SetOrderTotals"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        32
      ],
      "id": "547f317a-8a5a-4de3-bcdd-5161d5bc1956",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "7ef5d6a6ebbc2c02fcf9ea1155fa8514"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orders",
              "value": "={{ $json.orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        32
      ],
      "id": "26c3c5dc-1a02-4b2d-98d5-1de533812a24",
      "name": "SendOrders",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3N1NUkFdnOZIqaqY",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "62599a75-61af-4ad9-af5b-5376722715ff",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        320
      ],
      "id": "524e9600-96da-4615-ad38-242d9bc4a0df",
      "name": "FilterDelivered"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "order_total"
            },
            {
              "field": "order_total"
            },
            {
              "aggregation": "average",
              "field": "order_total"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1120,
        224
      ],
      "id": "9854aa40-af20-494d-99d4-f08f01e59519",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sum_order_total",
              "newKey": "order_totals"
            },
            {
              "currentKey": "count_order_total",
              "newKey": "order_count"
            },
            {
              "currentKey": "average_order_total",
              "newKey": "average_order_total"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1344,
        224
      ],
      "id": "1bd148c6-d743-4b13-a105-d6cf9e73f0cd",
      "name": "UpdateFieldNames"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "regions",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1568,
        128
      ],
      "id": "f259fd26-d61d-45b1-acb4-a246dadf201b",
      "name": "AggregateRegions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "7ef5d6a6ebbc2c02fcf9ea1155fa8514"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "={{ $json.regions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        128
      ],
      "id": "dd218b7d-43ae-4ef9-9db0-6e5a847f5c36",
      "name": "SendAnalysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3N1NUkFdnOZIqaqY",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed38006a-becc-4e25-8aba-759ff8647e13",
              "name": "report_generated",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "67c23fe4-d369-4b32-af5a-3cdaa851922d",
              "name": "assessment_id",
              "value": "[7ef5d6a6ebbc2c02fcf9ea1155fa8514]",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        320
      ],
      "id": "3ee5c37e-ed98-40fa-8977-e9afc0cc048b",
      "name": "SetReportMetadata"
    },
    {
      "parameters": {
        "binaryPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        320
      ],
      "id": "290f0662-db91-4f5b-8a9b-46afeee5404d",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/send-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "7ef5d6a6ebbc2c02fcf9ea1155fa8514"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        320
      ],
      "id": "31a689a6-f891-4ac3-8fc5-cd09ff4fdd78",
      "name": "SendReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3N1NUkFdnOZIqaqY",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        416
      ],
      "id": "50be1400-b2c6-4b3d-b1c1-a0b0920f64a8",
      "name": "IgnoreNonDelivered"
    },
    {
      "parameters": {
        "content": "orders that weren't completed (pending, cancelled)",
        "height": 80,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        576
      ],
      "id": "97686f20-7fe6-47f1-9871-fd808f5798ba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Academy Section 2 Sales Data Pipeline\nCreated by: [Your Name]\nDate: [Today's Date]\nThis workflow creates the sales data pipeline including 3 branches for sending different reports and details to the data warehouse.\nPart of: n8n Foundations Course, Section 2",
        "height": 224,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -64
      ],
      "id": "d8fc30a1-05cf-4507-87de-e3c57d56aeda",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "GetSalesData": {
      "main": [
        [
          {
            "node": "SplitOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetSalesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOrders": {
      "main": [
        [
          {
            "node": "SetOrderTotals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals": {
      "main": [
        [
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          },
          {
            "node": "FilterDelivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendOrders": {
      "main": [
        []
      ]
    },
    "FilterDelivered": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IgnoreNonDelivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "UpdateFieldNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateFieldNames": {
      "main": [
        [
          {
            "node": "AggregateRegions",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetReportMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateRegions": {
      "main": [
        [
          {
            "node": "SendAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendAnalysis": {
      "main": [
        []
      ]
    },
    "SetReportMetadata": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "SendReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a1f57ec2a2da833e112999d86f7d337d8347efc10e2e2a4dab8d5b310dec682"
  }
}
