Stooq/SNP500/Stooq S&P500.json
{
  "name": "Stooq S&P500",
  "nodes": [
    {
      "parameters": {
        "executeOnce": false,
        "command": "cd /files/Stooq/SNP500\npython Stooq-SNP500.py\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -816,
        -320
      ],
      "id": "c2d386fb-55b7-4e93-9cd0-d07c90197c2b",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/files/Stooq/SNP500/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -656,
        -320
      ],
      "id": "8efbea4b-615e-4e1a-877a-0f623d2e5926",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "sendTo": "kangjooleng@yahoo.com,kangjooleng@gmail.com",
        "subject": "={{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }} Stooq SNP500 EOD",
        "message": "=Attached Stooq SNP500 EOD for {{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,data_1,data_2"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        -208
      ],
      "id": "435e176a-fe3c-49d3-9f7a-5f254b02253c",
      "name": "Send a message",
      "webhookId": "501b93fc-f419-4031-8292-f90606e774c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "command": "cd /files/Stooq/SNP500\nrm US*.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        32,
        -208
      ],
      "id": "6e7159ea-5963-4159-9d97-b1cde816d90e",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                3,
                4,
                5,
                6
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -320
      ],
      "id": "763f12cc-5366-44e4-b0a0-6a22462ef016",
      "name": "0815 Hrs Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -272,
        -208
      ],
      "id": "a42980fc-43a2-4a09-8766-b93c5787b92b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "kangjooleng@yahoo.com,kangjooleng@gmail.com",
        "subject": "={{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }} Stooq SNP500 EOD",
        "message": "=Attached Stooq SNP500 EOD for {{ $today.minus({ days: 1 }).toFormat('dd-MMM-yyyy') }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data,data_1,data_2,data_3"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        -448
      ],
      "id": "2cdc062e-bf83-4efe-8bcb-bdb210f545f5",
      "name": "Send a message1",
      "webhookId": "501b93fc-f419-4031-8292-f90606e774c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "jOBiXZAKYqgJ4UPv",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "command": "cd /files/Stooq/SNP500\nrm US*.csv\nrm *.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        32,
        -448
      ],
      "id": "568c7a58-4070-4194-bee8-6ef119668ea1",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -272,
        -448
      ],
      "id": "f98432d8-fa59-427d-90e4-5d4a36301e28",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "418b4c25-6c51-4577-a6f5-874d15ad379f",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -320
      ],
      "id": "53617c7c-d75d-4419-8e58-d6c6eaaf68e2",
      "name": "No of files"
    }
  ],
  "pinData": {
    "0815 Hrs Trigger": [
      {
        "json": {
          "timestamp": "2026-04-15T08:15:47.006+08:00",
          "Readable date": "April 15th 2026, 8:15:47 am",
          "Readable time": "8:15:47 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "15",
          "Hour": "08",
          "Minute": "15",
          "Second": "47",
          "Timezone": "Asia/Singapore (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "No of files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0815 Hrs Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No of files": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "X1sEUmuWIyr2vFvT",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": -1
  },
  "versionId": "a52fe603-4c63-40bd-a7c3-e17547c32407",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48cd71dbb48103e54ab73e035407f795fa313947739d28b6bb459bcad38062c8"
  },
  "id": "aP0nCoyO3RPik50B",
  "tags": []
}