HeiCoders/Gmail trigger + Draft.json
{
  "name": "Gmail trigger + Draft",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "553d8e16-5c94-4223-bd32-893cd9d1f942",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4w6mOKpuRQrD8wSD",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "39f2f1d4-86ff-41dc-a3f7-986919297d8e",
      "name": "Mark a message as read",
      "webhookId": "88266a29-bd25-486d-a89f-85e9aaaae94a",
      "credentials": {
        "gmailOAuth2": {
          "id": "4w6mOKpuRQrD8wSD",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "891ca0a7-c5fe-4b92-8575-8c276a273361",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "cde332ec-64fd-41c1-b36e-722eab9ee14b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ptuQGhyFm6LQXw69",
          "name": "JL Kang API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "496f3cca-40c2-47e8-9be1-36aff68705fe",
      "name": "Create a draft",
      "webhookId": "76623a5c-91b1-4e64-8430-5c2249a52b5f",
      "credentials": {
        "gmailOAuth2": {
          "id": "4w6mOKpuRQrD8wSD",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.threadId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "28448709-e2f5-403c-ba55-080010c40ae0",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c2ea56c7b5bf32",
          "threadId": "19c2ea56c7b5bf32",
          "snippet": "What is my leave entitlement?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 6957,
          "historyId": "137666",
          "internalDate": "1770309107000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Kang Joo Leng <kangjooleng@gmail.com>",
          "Subject": "Leave",
          "To": "jooleng.kang@gmail.com"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d32ac70-ff44-41c5-a28a-a2044f74bcd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8561c73f2e74d32e847078afff609bfd03ae3ec5487a6a020157f66c94729534"
  },
  "id": "LH5Zfai5p1lxSP0z",
  "tags": []
}