HeiCoders/Google Drive HR.json
{
  "name": "Google Drive HR",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LvPiGL6Yqk3OXjZgldlknJEdlf0FiG0K",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LvPiGL6Yqk3OXjZgldlknJEdlf0FiG0K"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        208
      ],
      "id": "a5cf2288-48b3-49ab-b55b-4b88c5d6b884",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e55xS7OEjjQ9yEpY",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        208
      ],
      "id": "5daf29c4-1a8b-4d43-bc6d-4656cd095735",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e55xS7OEjjQ9yEpY",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "heicoders",
          "mode": "list",
          "cachedResultName": "heicoders"
        },
        "options": {
          "pineconeNamespace": "HR Policy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "0bb77694-20b2-4f56-a888-bd5bb8e3c4c2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "E81mkLLT6Hwiqr1w",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        224
      ],
      "id": "c0c7a646-1dd1-4209-afa0-a001e275160b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ptuQGhyFm6LQXw69",
          "name": "JL Kang API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        224
      ],
      "id": "2cfea1b7-b137-4727-9773-bfc4353d42ce",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        192,
        432
      ],
      "id": "0911e81b-5bf4-45e6-a875-815b4ce8dd96",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        752
      ],
      "id": "196a961f-9f99-4e96-b195-ef3730f5f575",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4w6mOKpuRQrD8wSD",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        752
      ],
      "id": "b07db8cb-a171-4c36-8667-6435de2a0bdc",
      "name": "Mark a message as read",
      "webhookId": "a2f775fe-5bdc-40c6-8f67-3b049b199c41",
      "credentials": {
        "gmailOAuth2": {
          "id": "4w6mOKpuRQrD8wSD",
          "name": "jooleng.kang@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "=You are an HR assistant specialising in HR policy of the company. Your task is to provide accurate information enquiries using only the official document provided. \nFollow these guidelines:\n\nInformation source: Use only the pinecone tool. Do not speculate or use external information.\nTone: Maintain a warm, professional tone\n\nReply using below template:-\n\nDear [Sender],\n\nThank you for reaching out.\n\n[Answer to sender’s specific query. Ensure details are accurate and taken from the pinrcone tool]\n\nIf you have any further questions, please do not hesitate to contact us.\n\nWarm regards,  \n[Your Full Name]  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        752
      ],
      "id": "53702492-1d0e-45c6-a707-744d9c7cc0df",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        976
      ],
      "id": "13b08134-9a3e-451c-962c-5656097bdfb7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ptuQGhyFm6LQXw69",
          "name": "JL Kang API"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access HR policy",
        "pineconeIndex": {
          "__rl": true,
          "value": "heicoders",
          "mode": "list",
          "cachedResultName": "heicoders"
        },
        "options": {
          "pineconeNamespace": "HR Policy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        976
      ],
      "id": "b71fc302-30a2-4cc3-a9fc-e3f62d132548",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "E81mkLLT6Hwiqr1w",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        1184
      ],
      "id": "8b6135ba-bf81-4a20-9d48-be316e2ce9d5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ptuQGhyFm6LQXw69",
          "name": "JL Kang API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        752
      ],
      "id": "a6310960-7944-4733-bd1c-375123601e3d",
      "name": "Create a draft",
      "webhookId": "c2d2feed-02e0-467c-b912-7b711e2219f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "4w6mOKpuRQrD8wSD",
          "name": "jooleng.kang@gmail.com"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c2ebb4d1818368",
          "threadId": "19c2ebb4d1818368",
          "snippet": "What is my working time?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 6956,
          "historyId": "137782",
          "internalDate": "1770310538000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Kang Joo Leng <kangjooleng@gmail.com>",
          "Subject": "Working Hours",
          "To": "jooleng.kang@gmail.com"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0fb460c-f0aa-4acc-880a-e6ce74b6b6ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8561c73f2e74d32e847078afff609bfd03ae3ec5487a6a020157f66c94729534"
  },
  "id": "1JMCgd4soeXS_eRc3hzbw",
  "tags": []
}